In [1]:
import pandas as pd

In [2]:
#import the csv file as a dataframe

In [3]:
movies = pd.read_csv("movies.csv")
movies.head()

          actor   movie_or_TV_name
0  Ryan Gosling             Barbie
1  Ryan Gosling  Project Hail Mary
2  Ryan Gosling          The Actor
3  Ryan Gosling            Wolfman
4  Ryan Gosling       The Gray Man

In [4]:
#groupby movie name and count the number of actors

In [5]:
movies = movies.groupby('movie_or_TV_name').count()

In [6]:
#sort by descending order and reset index

In [7]:
movies = movies.sort_values(by = ['actor'],ascending = False).reset_index()

In [8]:
movies = movies.rename(columns = {"actor":"number of shared actors"})

In [9]:
movies = movies[:10]

In [10]:
movies

         movie_or_TV_name  number of shared actors
0              La La Land                      118
1                    Glee                       12
2             The Muppets                       12
3                 Goliath                        8
4          Criminal Minds                        8
5                   Nikki                        8
6          Gangster Squad                        7
7  Like Sunday, Like Rain                        7
8     Crazy Ex-Girlfriend                        6
9           2 Broke Girls                        6